<!-- Required File for Parser -->

<!-- Insert events as children of the FTL Tag.
Do not remove the FTL Tag -->
<FTL>

<event name="EXAMPLE_EVENT">
	<ship load="ENEMY" hostile="true"/>
	<text load="EXAMPLE_EVENT_TEXT"/>
	<choice>
		<text>This ends the event.</text>
		<event/>
	</choice>
	<choice>
		<text>This has more.</text>
		<event>
			<text>More stuff.</text>
			<choice>
				<text>It ends here.</text>
				<event/>
			</choice>
		</event>
	</choice>
	<choice>
		<text>Loading Loading Loading</text>
		<event load="EXAMPLE_EVENT_2"/>
	</choice>
	<choice req="engi" hidden="true">
		<text>(Engi Crew) This would be blue</text>
		<event>
			<item_modify steal="true">
				<item type="fuel" min="-3" max="-2"/>
			</item_modify>
		</event>
	</choice>
</event>

<textList name="EXAMPLE_EVENT_TEXT">
	<text>This is an event</text>
	<text>Here is an event</text>
	<text>You are in an event</text>
	<text>Event time!</text>
</textList>

<event name="EXAMPLE_EVENT_2">
	<text id="event_EXAMPLE_EVENT_2_text" />
	<choice>
		<text id="event_EXAMPLE_EVENT_2_c1_choice" />
		<event/>
	</choice>
</event>

<event name="EXAMPLE_EVENT_3">
	<text>Here's some text!</text>
	<choice>
		<text>Roll the dice!</text>
		<event load="EXAMPLE_EVENTLIST"/>
	</choice>
</event>

<eventList name="EXAMPLE_EVENTLIST">
<event>
	<text>This was possibility one of three!</text>
</event>
<event>
	<text>This was possibility two of three. Here, have some scrap.</text>
	<choice>
		<text>Nice!</text>
		<event>
			<item_modify>
				<item type="scrap" min="30" max="50"/>
			</item_modify>
		</event>
	</choice>
</event>
<event>
	<text>This was possibility three of three. I'll take that scrap and turn it into materials!</text>
	<choice>
		<text>You have no choice in the matter.</text>
		<event>
			<item_modify steal="true">
				<item type="scrap" min="-10" max="-5"/>
				<item type="missiles" min="2" max="3"/>
				<item type="drones" min="1" max="3"/>
			</item_modify>
		</event>
	</choice>
</event>
</eventList>

</FTL>