<!-- Required File for Parser -->

<!-- Insert events as children of the FTL Tag.
Do not remove the FTL Tag -->
<FTL>

<event name="EXAMPLE_EVENT">
	<ship load="ENEMY" hostile="true"/>
	<text load="EXAMPLE_EVENT_TEXT"/>
	<choice>
		<text>This ends the event.</text>
		<event/>
	</choice>
	<choice>
		<text>This has more.</text>
		<event>
			<text>More stuff.</text>
			<choice>
				<text>Here's some fuel.</text>
				<event>
					<item_modify steal="true">
						<item type="fuel" min="2" max="3"/>
					</item_modify>
				</event>
			</choice>
		</event>
	</choice>
	<choice>
		<text>Loading Loading Loading</text>
		<event load="EXAMPLE_EVENT_2"/>
	</choice>
	<choice req="doors" hidden="true" lvl="3">
		<text>(Doors Subsystem) This would be blue</text>
		<event>
			<text>Your crewmember has died!</text>
			<removeCrew>
				<clone>true</clone>
				<text>Luckily you have a clonebay!</text>
			</removeCrew>
		</event>
	</choice>
</event>

<textList name="EXAMPLE_EVENT_TEXT">
	<text>This is an event</text>
	<text>Here is an event</text>
	<text>You are in an event</text>
	<text>Event time!</text>
</textList>

<!-- auto_blueprint attribute not required for simulator, neither are the 'chance', 'min' and 'max' attributes in surrender and escape. -->
<ship name="ENEMY" auto_blueprint="SHIPS_PIRATE">
	<surrender  chance="0.5" min="3" max="4" load="PIRATE_SURRENDER"/>
	<escape  chance="0.5" min="2" max="4" load="PIRATE_ESCAPE"/>
	<destroyed load="DESTROYED_DEFAULT"/>
	<gotaway>
		<text>The pirate jumped away.</text>
	</gotaway>
	<deadCrew load="DEAD_CREW_DEFAULT"/>
</ship>

<!-- copied from FTL -->

<event name="PIRATE_SURRENDER">
	<text load="PIRATE_SURRENDER_TEXT"/>
	<choice>
		<text>Accept their offer.</text>
		<event>
			<ship hostile="false"/>
			<autoReward level="RANDOM">stuff</autoReward>
		</event>
	</choice>
	<choice>
		<text>We will not accept surrender!</text>
		<event/>
	</choice>
</event>
<textList name="PIRATE_SURRENDER_TEXT">
	<text>"Alright, you win! Here's some equipment from our stores, leave us alone!"</text>
	<text>The ship repeatedly hails you. It looks like they want to surrender.</text>
	<text>"You are considerably more well-armed than I would have thought. We surrender."</text>
	<text>They send you a message: "Your ship is surprisingly well equipped! Please take this and let us live."</text>
	<text>"Please don't kill us. We will give you everything we have!"</text>
	<text>They offer you some of their cargo if you let them live.</text>
	<text>They offer to give you some of their goods if you don't destroy their ship.</text>
	<text>You get a frantic message, "Take everything we have! Just don't kill us."</text>
	<text>"You have clearly bested us. We merely request our lives."</text>
	<text>"You have made your point, we are beaten. Take these and leave us to our shame."</text>
	<text>"Take everything we have and let's both forget this happened."</text>
</textList>

<event name="PIRATE_ESCAPE">
	<text>The enemy ship appears to be powering up its FTL. It's trying to escape!</text>
	<ship hostile="true"/>
</event>

<eventList name="DESTROYED_DEFAULT">
	<event>
		<text>The ship explodes, leaving behind a substantial collection of useful scrap material.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
	<event>
		<text>The ship explodes, leaving behind a substantial collection of useful scrap material.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
</eventList>

<eventList name="DEAD_CREW_DEFAULT">
	<event>
		<text>There are no more life-signs remaining on the ship. You strip it of useful materials.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
	<event>
		<text>There are no more life-signs remaining on the ship. You strip it of useful materials.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
	<event>
		<text>There are no more life-signs remaining on the ship. You strip it of useful materials.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
	<event>
		<text>There are no more life-signs remaining on the ship. You strip it of useful materials.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
	<event>
		<text>There are no more life-signs remaining on the ship. You strip it of useful materials.</text>
		<autoReward level="MED">standard</autoReward>
	</event>
	<event>
		<text>With the crew dead, you are able to take the fuel out of storage. You also take all the scrap you can manage.</text>
		<autoReward level="HIGH">fuel</autoReward>
	</event>
	<event>
		<text>With the crew dead, you are able to take the fuel out of storage. You also take all the scrap you can manage.</text>
		<autoReward level="HIGH">fuel</autoReward>
	</event>
	<event>
		<text>Now that their ship has been emptied of hostiles, you search it. Eventually you find a prisoner who offers to join your crew.</text>
		<crewMember amount="1"/>
		<autoReward level="LOW">scrap_only</autoReward>
	</event>
	<event>
		<text>You find a weapon system on their ship. With no crew to stop you, you can install it on your own.</text>
		<autoReward level="LOW">weapon</autoReward>
	</event>
</eventList>



<event name="EXAMPLE_EVENT_2">
	<text id="event_EXAMPLE_EVENT_2_text" />
	<choice>
		<text id="event_EXAMPLE_EVENT_2_c1_choice" />
		<event/>
	</choice>
</event>

<event name="EXAMPLE_EVENT_3">
	<text>Here's some text!</text>
	<choice req="mantis" max_group="0">
		<text>Flip the coin!</text>
		<event load="EXAMPLE_EVENTLIST"/>
	</choice>
	<choice max_group="0">
		<text>Roll the dice!</text>
		<event load="EXAMPLE_EVENTLIST"/>
	</choice>
</event>

<event name="EXAMPLE_EVENT_QUEST">
	<text>Go on a quest!</text>
	<quest event="EXAMPLE_EVENT_QUEST_2"/>
</event>

<event name="EXAMPLE_EVENT_QUEST_2">
	<text>Here's your destination, a pulsar!</text>
	<environment type="pulsar"/>
</event>

<eventList name="EXAMPLE_EVENTLIST">
<event>
	<text>This was possibility one of three! Here's a guy.</text>
	<crewMember amount="1"/>
</event>
<event>
	<item_modify>
		<item type="scrap" min="30" max="50"/>
	</item_modify>
	<text>This was possibility two of three. Here, have some scrap.</text>
	<choice>
		<text>Nice!</text>
		<event/>
	</choice>
</event>
<event>
	<item_modify steal="true">
		<item type="scrap" min="-10" max="-5"/>
		<item type="missiles" min="2" max="3"/>
		<item type="drones" min="1" max="3"/>
	</item_modify>
	<text>This was possibility three of three. I've taken your scrap and turned it into materials!</text>
	<choice>
		<text>You have no choice in the matter.</text>
		<event/>
	</choice>
</event>
</eventList>

<!-- these were copied from the game's files -->

<event name="BOARDER_TEST">
	<text>Oh no enemies!</text>
	<boarders min="3" max="5" class="human"/>
</event>

<event name="REMOVAL_TEST">
	<text>Oh no! Your drone is gone.</text>
	<remove name="COMBAT_1"/>
</event>

<event name="CREW_DEAD_TEST">
	<text>Oh no! Your crew is dead.</text>
	<removeCrew>
		<clone>false</clone>
		<text>They're still dead!</text>
	</removeCrew>
</event>

<event name="TEST_EVENT">
	<text>This looks good...</text>
	<choice>
		<text id="continue"/>
		<event>
			<text>Kaboom ship damage!!</text>
			<damage amount="5"/>
			<damage amount="1" system="engines" effect="random"/>
			<damage amount="1" system="shields" effect="all"/>
		</event>
	</choice>
</event>

<event name="TEST_EVENT2">
	<text>Limited systems!</text>
	<status type="limit" target="player" system="sensors" amount="1"/>
	<status type="limit" target="player" system="doors" amount="1"/>
	<status type="limit" target="player" system="engine" amount="1"/>
	<status type="limit" target="player" system="weapons" amount="1"/>
</event>

<event name="FREE_NANO">
	<text>FREE NANO!</text>
	<augment name="NANO_MEDBAY"/>
</event>

<event name="FREE_AUG">
	<text>FREE AUG!</text>
	<augment name="RANDOM"/>
</event>

<event name="CRYSTAL_TEST">
	<text>Testing Crystal Teleport</text>
	<choice>
		<text>Travel to the Crystal Sector</text>
		<event>
			<secretSector/>
		</event>
	</choice>
</event>

</FTL>